{% extends "base.html" %}
{% block content %}
<style>
    .container {
        border-radius: 1rem;
        background-color: #f2ebd9;
        margin-top: 5em;
    }

    .topColumn {
        margin-top: 1em;
    }

    .bottomColumn {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .name {
        font-size: 18px;
        font-weight: bold
    }

    .info {
        font-size: 16px;
        font-weight: bold
    }

    .time {
        font-size: 16px;
    }

    .phone,
    .email {
        font-size: 14px;
        font-weight: 600
    }

    .address {
        font-size: 13px;
        color: #545454;
        font-weight: 600
    }
</style>

<div class="container">
    <div class="row gutters">
        <!--- PATIENT INFO --->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 topColumn">
            <h5><u>Patient info</u></h5>
            <div class="name">
                {{patient_info.name}}
                <img src="/static/images/sickDoge.png" alt="Avatar" style="
                    vertical-align: middle;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;" />
            </div>
            <div class="phone">{{patient_info.phone}}</div>
            <div class="email">{{patient_info.email}}</div>
            <div class="address">{{patient_info.address}}</div>
            <div class="address">{{patient_info.city}}, {{patient_info.country}}</div>
        </div>

        <!--- APPOINTMENT TYPE --->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 topColumn">
            <h5><u>Appointment info</u></h5>
            <div class="info">{{appointment.appointment_type}}</div>
            <div class="time">{{appointment.time_at}} <i class="far fa-clock"></i></div>

            <!--- ONLY ADMIN CAN SEE THIS --->
            {% if session.is_doctor %}
            <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm">
                Delete appointment <i class="far fa-trash-alt"></i></button>
            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="confirmModal"
                aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Please, confirm appointment deletion.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <a href="/appointment/{{appointment.id}}/delete"><button type="button"
                                    class="btn btn-danger btn-sm">Confirm delete <i
                                        class="far fa-trash-alt"></i></button></a>
                            <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            {% include 'auth/logout-button.html' %}
            {% include 'flash.html' %}
        </div>

        <!--- SYMPTON WRITING FOR DOCTOR ROLE --->
        {% if session.is_doctor %}
        {% include 'appointment/symptom-form.html' %}
        {% else %}
        {% include 'appointment/symptom-info.html' %}
        {% endif %}

        <!--- PRESCRIPTIONS --->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 bottomColumn">
            <h5><u>Current prescriptions</u></h5>
            {% if current_prescriptions|length == 0 %}
            <p>No current prescriptions</p>
            {% else %}
            {% for prescription in current_prescriptions %}
            <form
                action="/appointment/{{appointment.id}}/prescription/{{prescription.id}}/patient/{{appointment.patient_id}}"
                method="POST">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-1"><u>{{ prescription.name }}</u>
                                {% if session.is_doctor %}
                                <input type="hidden" name="isVisible" value="False">
                                <input type="submit" value="remove">
                                {% endif %}
                            </h6>
                            <small>Amount per day: <span
                                    class="badge badge-info badge-pill">{{prescription.amount_per_day
                                    }}</span></small>
                        </div>
                    </div>
                </div>
            </form>
            {% endfor %}
            {% endif %}

            <!--- ONLY ADMIN CAN SEE THIS --->
            {% if session.is_doctor %}
            <h5><u>Add prescriptions to patient</u></h5>
            {% if all_prescriptions|length == 0 %}
            <span>No prescriptions to add.</span>
            {% else %}
            {% for prescription in all_prescriptions %}
            <form
                action="/appointment/{{appointment.id}}/prescription/{{prescription.id}}/patient/{{appointment.patient_id}}"
                method="POST">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-1"><u>{{ prescription.name }}</u>
                                <input type="hidden" name="isVisible" value="True">
                                <input type="submit" value="add">
                            </h6>
                            <small>Amount per day: <span
                                    class="badge badge-info badge-pill">{{prescription.amount_per_day
                                    }}</span></small>
                        </div>
                    </div>
                </div>
            </form>
            {% endfor %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}