{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="container" style="border-radius: 1rem; background-color: #f2ebd9; margin-top: 5em;">
    <div class="row">
        <!--- PATIENT INFO --->
        <div class="col-4">
            <h5>Patient info</h5>
            <div>
                {{patient_info.name}}
                <img src="/static/images/sickDoge.png" alt="Avatar" style="
                    vertical-align: middle;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;" />
            </div>
            <div>{{patient_info.phone}}</div>
            <div>{{patient_info.email}}</div>
            <div>{{patient_info.address}}</div>
            <div>{{patient_info.city}}, {{patient_info.country}}</div>
        </div>

        <!--- APPOINTMENT TYPE --->
        <div class="col-4">
            <h5>Appointment type</h5>
            <div>{{appointment.appointment_type}}</div>
            <div>Appointment at: {{appointment.time_at}}</div>

            <!--- ONLY ADMIN CAN SEE THIS --->
            {% if session.is_doctor %}
            <a href="/appointment/{{appointment.id}}/delete">
                <button type="button" class="btn btn-dark btn-sm">
                    Delete appointment <i class="far fa-trash-alt"></i></button>
            </a>
            {% endif %}
        </div>
        <div class="col-4">
            put some photo
        </div>

        <!--- SYMPTON WRITING FOR DOCTOR ROLE --->
        {% if session.is_doctor %}
        {% include 'components/symptom-form.html' %}
        {% else %}
        {% include 'components/symptom-info.html' %}
        {% endif %}

        <!--- PRESCRIPTIONS --->
        <div class="col-6">
            <h5><u>Current prescriptions</u></h5>
            {% for prescription in current_prescriptions %}
            <form
                action="/appointment/{{appointment.id}}/prescription/{{prescription.id}}/patient/{{appointment.patient_id}}"
                method="POST">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-1"><u>{{ prescription.name }}</u>
                                {% if session.is_doctor %}
                                <input type="hidden" name="isVisible" value="False">
                                <input type="submit" value="remove">
                                {% endif %}
                            </h6>
                            <small>Amount per day: <span
                                    class="badge badge-info badge-pill">{{prescription.amount_per_day }}</span></small>
                        </div>
                    </div>
                </div>
            </form>
            {% endfor %}

            <!--- ONLY ADMIN CAN SEE THIS --->
            {% if session.is_doctor %}
            <h5><u>Add prescriptions to patient</u></h5>
            {% for prescription in all_prescriptions %}
            <form
                action="/appointment/{{appointment.id}}/prescription/{{prescription.id}}/patient/{{appointment.patient_id}}"
                method="POST">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-1"><u>{{ prescription.name }}</u>
                                <input type="hidden" name="isVisible" value="True">
                                <input type="submit" value="add">
                            </h6>
                            <small>Amount per day: <span
                                    class="badge badge-info badge-pill">{{prescription.amount_per_day }}</span></small>
                        </div>
                    </div>
                </div>
            </form>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}