<div class="col-6">
    <form action="/appointment/{{appointment.id}}/symptom/{{appointment.patient_id}}" method="POST">
        <div class="form-group">
            <label><u>Write symptoms</u></label>
            <textarea class="form-control" name="symptom" rows="5">{{appointment.symptom}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update symptom</button>
        <a href="/"><button type="button" class="btn btn-secondary">Back</button></a>
    </form>
</div>