{% extends "base.html" %}
{% block content %}
<form action="/register/user" method="POST">
    <div class="container" style="margin-top: 1em">
        <div class="card">
            {% include 'flash.html' %}
            <div class="card-body" style="background-color: #f2ebd9;">
                <h3><u>Please fill all the forms</u></h3>
                <div class="row gutters">
                    <div class="col-xl-12">
                        <h6 class="mb-3 text-dark">Add username, password and choose role</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control"
                                placeholder="Enter username (3-40 characters)" pattern=".{3,40}" required>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control"
                                placeholder="Enter password (min 5 characters)" pattern=".{5,}" required>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <span>Choose either: </span>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="options" value="patient" checked>Patient
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="options" value="doctor">Doctor
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12">
                        <h6 class="mb-3 text-dark">Add personal details</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Enter full name"
                                pattern=".{2,40}" required>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="eMail">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter email"
                                pattern=".{3,40}"required>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" name="phone" class="form-control"
                                placeholder="+358501234567 or 0501234567" pattern="^\+?\d+$" minlength="3" maxlength="20" required >
                        </div>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12">
                        <h6 class="mb-3 text-dark">Add address details</h6>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="Street">Address</label>
                            <input type="text" name="address" class="form-control" placeholder="Enter address"
                                pattern=".{2,50}" required>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="ciTy">City</label>
                            <input type="text" name="city" class="form-control" placeholder="Enter city"
                                pattern=".{2,50}" required>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" name="country" class="form-control" placeholder="Enter country"
                                pattern=".{2,50}" required>
                        </div>
                    </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="text-left">
                            <button type="submit" name="submit" class="btn btn-primary">Register!</button>
                            <a href="/login"><button type="button" class="btn btn-secondary">Back to login</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>
{% endblock %}