<form action="/login" method="POST">
	<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"><u>Log in to your Patient Record System</u> <i
			class="fas fa-file-medical"></i></h5>
	<div class="form-outline mb-4">
		<input type="text" name="username" class="form-control form-control-lg" required />
		<label class="form-label" for="username">Username</label>
	</div>
	<div class="form-outline mb-4">
		<input type="password" name="password" class="form-control form-control-lg" required />
		<label class="form-label" for="password">Password</label>
	</div>

	<div class="mb-4">
		<button class="btn btn-dark btn-lg btn-block" type="submit">Login <i class="fas fa-sign-in-alt"></i></button>
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
	</div>
	<div class="mb-4">
		<a href="/register">No account? Register new user here.</a>
	</div>
</form>